{% include 'layout.html' %}

<div class='container'>
        <div class="jumbotron" style='margin-left: 240px; margin-right: 240px; margin-bottom: 60px; margin-top: 60px;'>
            <h1 class="display-4">Solicitud de Compra <b>EntreHumoos </b></h1>
            <h3><i>Tabacos, parafernalia y mas.</h3></i>
            <hr class="my-4">
            <p>A continuación te solicitaremos tu correo eletrónico para continuar con el 
            proceso de compra ! </p>
          </div>
        </div>

<div class="container">
<form method="POST">
	
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Dirección Correo electronico</label>
    <input  type='text' class="form-control" name='correo'>
    <div id="emailHelp" class="form-text">No compatiremos tu correo con nadie ;)
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Solicitar</button>

</form>
</div>
