{% include 'layout.html' %}



<html>
    <head>
        <title>EntreHumoos !</title>
    </head>
    <body>    
        <div class='container' style="margin-top: 50px;">
        <div class='row'> 
        <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/P4TwJ5c/Whats-App-Image-2020-09-10-at-16-54-05-3.jpg" alt="Verso_sandia" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Papelillos</h5>
              <p class="card-text">Contenido 4 Conos.</p>
              <p class="card-text">$1 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Papelillos Cono">
              </form>
            </div>
          </div>
          </div>

        <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/P4TwJ5c/Whats-App-Image-2020-09-10-at-16-54-05-3.jpg" alt="Verso_sandia" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Papelillos</h5>
              <p class="card-text">Contenido 4 Conos.</p>
              <p class="card-text">$1 USD</p>
              <form method="POST">
                <input type="submit" name='carrito' class="form-control"  value="Comprar Papelillos Cono">
              </form>
            </div>
          </div>
          </div>

           <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/P4TwJ5c/Whats-App-Image-2020-09-10-at-16-54-05-3.jpg" alt="Verso_sandia" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Papelillos</h5>
              <p class="card-text">Contenido 4 Conos.</p>
              <p class="card-text">$1 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Papelillos Cono">
              </form>
            </div>
          </div>
          </div>

           <div class='col-md-4 well'>
        <div class="card" style="margin-top: 50px;">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/P4TwJ5c/Whats-App-Image-2020-09-10-at-16-54-05-3.jpg" alt="Verso_sandia" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Papelillos</h5>
              <p class="card-text">Contenido 4 Conos.</p>
              <p class="card-text">$1 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Papelillos Cono">
              </form>
            </div>
          </div>
          </div>
            </div>
          </div>
    </body>
<html>