{% include 'layout.html' %}



<html>
    <head>
        <title>EntreHumoos !</title>
    </head>
    <body>    
        <div class='container' style="margin-top: 50px;">
        <div class='row'> 
        <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/xG8nqLt/bong2.jpg" alt="bong2" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Bong 20cm.</h5>
              <p class="card-text">Bong material pyrex.</p>
              <p class="card-text">$10 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Bong Pyrex">
              </form>
            </div>
          </div>
          </div>

         <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/xG8nqLt/bong2.jpg" alt="bong2" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Bong 20cm.</h5>
              <p class="card-text">Bong material pyrex.</p>
              <p class="card-text">$10 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Bong Pyrex">
              </form>
            </div>
          </div>
          </div>

            <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/xG8nqLt/bong2.jpg" alt="bong2" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Bong 20cm.</h5>
              <p class="card-text">Bong material pyrex.</p>
              <p class="card-text">$10 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Bong Pyrex">
              </form>
            </div>
          </div>
          </div>

           <div class='col-md-4 well'>
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/xG8nqLt/bong2.jpg" alt="bong2" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Bong 20cm.</h5>
              <p class="card-text">Bong material pyrex.</p>
              <p class="card-text">$10 USD</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Bong Pyrex">
              </form>
            </div>
          </div>
          </div>
            </div>
          </div>
    </body>
<html>