{% include 'layout.html' %}



<html>
    <head>
        <title>EntreHumoos !</title>
    </head>
    <body>    
        <div class='container' style="margin-top: 50px;">
        <div class='row'> 
        <div class='col-md-4 well'>
        <div class="card">
            
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/cQSL9Sy/Verso-sandia.jpg" alt="Verso_sandia" border="0"></a>
          
            <div class="card-body">
              <h5 class="card-title" id='1'>Tabaco Verso Sandia</h5>
              <p class="card-text">Contenido 40g.</p>
              <p class="card-text">1$ USD.</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Verso Sandia">
              </form>
            </div>
          </div>
          </div>

        <div class='col-md-4 well'>    
        <div class="card">
            <a href="https://imgbb.com/"><<img src="https://i.ibb.co/MVLVmm4/nomade-manzana.jpg" alt="nomade_manzana" border="0"></a>
            <div class="card-body">
              <h5 class="card-title">Tabaco Nomade Manzana</h5>
              <p class="card-text">Contenido 40g.</p>
              <p class="card-text">1$ USD.</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Verso Manzana">
              </form>
            </div>
            </div>
          </div>

          <div class='col-md-4 well'>    
        <div class="card">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/gF5PKz5/orion-ice-vainilla.jpg" alt="orion_ice_vainilla" border="0"></a>
            <div class="card-body">
               <h5 class="card-title">Tabaco Orion Ice Vainilla</h5>
              <p class="card-text">Contenido 40g.</p>
              <p class="card-text">1$ USD.</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Orion Ice Vainilla">
              </form>
            </div>
            </div>
          </div>

          <div class='col-md-4 well'>    
        <div class="card" style="margin-top: 50px;">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/1JtB09R/orion-naranja.jpg" alt="orion_naranja" border="0"></a>
            <div class="card-body">
               <h5 class="card-title">Tabaco Orion Naranja</h5>
                <p class="card-text">Contenido 40g.</p>
                <p class="card-text">1$ USD.</p>
              <form method="POST">
              <input type="submit" name='carrito' class="form-control"  value="Comprar Orion Naranja">
              </form>
            </div>
            </div>
          </div>
            </div>
          </div>
    </body>
<html>





